/*Ganeral*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 18px;
	font-family: Lato;
	font-weight: 300;
	color: #555;
	position: relative;
	background: linear-gradient(
		to right,
		rgba(127, 127, 127, 0.7),
		rgba(191, 58, 21, 0.3)), url(../img/back.jpg) no-repeat center top / cover;;
}

/*Header with nav*/

h1 {
	font-size: 18px;
	display: inline-block;
	padding: 14px;
	color: #fff;
}

.container {
	width: 80%;
	margin: 0 auto;
	position: relative;
}

/*to clear floating*/
.clearfix:after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

header {
	background-color: #333;
	height: 50px;
}

.logo {
	float: left;

}
.logo img{
	height: 40px;
	margin: 5px 0px;
}

.logo a {
	text-decoration: none;
	color: #555;
	text-transform: uppercase;
}

.logo:hover {
	background-color: #111;
}

nav {
	float: right;
}

nav ul {
	list-style: none;
	margin: 0;
	padding:0;
	overflow: hidden;

	text-transform: uppercase;
}

nav ul li {
	float: left;
}

nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 14px 30px; /*to take all visible space*/
	text-decoration: none;
}

nav ul li a:hover{
	background-color: #111;
	
}

nav ul li a:hover:not(.active) {
    background-color: #111;
}

.marked {
    background-color: #bf3c17;
}

/*Game 1*/

.how-to-play {
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
	font-size: 23px;
}

.how-to-play strong {
	font-weight: 700;
	border-bottom: 2px solid #fff;
}

.player-0-panel, .player-1-panel {
    width: 50%;
    float: left;
    height: 600px;
    padding: 100px;
    margin-bottom: 10%;
    background-color: #d4d1d0;
}

/*Players*/
.player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.player-score {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: #aea69d;
    margin-bottom: 130px;
}

.active { background-color: #f7f7f7; }
.active .player-name { font-weight: 300; }

.active .player-name::after {
    content: "\2022";
    font-size: 47px;
    position: absolute;
    color:#bf3c17;
    top: -7px;
    right: 10px;
    
}

.player-current-box {
    background-color: #bf3c17;
    border-radius: 8%;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 16px;
    color: #222;
}

.player-current-score {
    font-size: 30px;
}

button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 20px; }

button:focus {
    outline: none;
}

i {
    color: #bf3c17;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

input {
    margin: 0 10px;
    width: 40px;
    border-radius: 5px;
}

.btn-new { top: 15%;}
.btn-roll { top: 60%;}
.btn-hold { top: 65%;}

.dice {
	display: inline;
    position: absolute;
    left: 50%;
    top: 178px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

#dice1{
    display: inline;
    position: absolute;
    left: 50%;
    top: 320px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

.winner { background-color: #f7f7f7; }
.winner .player-name { font-weight: 300; color: #bf3c17; }


/*Footer*/

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height:60px; 
  background-color: #333;
  list-style: none;
  text-align: center;
  color: #fff;
}

footer ul{
	margin: 0;
	padding:0;
	overflow: hidden;
	padding-top: 2%;

}

footer ul li {
	display: inline;
}

footer a {
	display: inline-block;
	padding: 10px;
}

